<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p v-for="(aluno, i) in alunos">
            {{i+1}}) {{aluno.nome}} - {{aluno.nota}}
            <span v-if="aluno.nota >= 9">Quadro de Honra</span>
            <span v-else-if="aluno.nota >= 7">Aprovado</span>
            <span v-else-if="aluno.nota >= 3.5">Recuperação</span>
            <span v-else=>Reprovado</span>
        </p>
    <script>
        new Vue({
            el: "#app",
            data: {
                alunos: [
                    {nome: "José", nota: 9.9},
                    {nome: "João", nota: 8.5},
                    {nome: "Juvenal", nota: 5},
                    {nome: "Maria", nota: 3.5}
                ]
            }
        })
    </script>
</body>
</html>